@import url('https://fonts.googleapis.com/css?family=PT+Mono');

* {
	font-family:  Helvetica, sans-serif;
        
}

html {
	background-color: #EEE;
}

#social, nav ul {
	padding: 0;
	list-style-type: none;
}

#social a, #social a:link, #social a:visited, #social a:hover, #social a:active {
	color: inherit;
	text-decoration: inherit;
	font-weight: inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

main {
	margin:1em 0 1em 0;
}

.grid {
  background: #EEE;
  max-width: 100%;
  counter-reset: grid-item;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
    width: 100%;
    height: auto;
    float: left;
/*    background: #D26;*/
    /*border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;*/
}

.grid-item:before {
/*  counter-increment: grid-item;*/
/*  content: counter(grid-item);*/
/*  display: block;*/
/*  color: white;*/
  padding-top: 0.2em;
  text-align: center;
  font-size: 1.4rem;
}

.about {
    text-align: center;
}
.media {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.media li {
    margin: 0;
    padding: 0;
}

.gallery {
    margin-top: 1em;
    border: 1px solid #778;
}

.media-item {
    display: flex;
    width: 100%;
}

img	{
	max-width: 100%;
}

@media screen and (min-width: 40em) {
    .grid-sizer,
    .grid-item {
        width: 50%;
    }
}

@media screen and (min-width: 55em) {
    .grid-sizer,
    .grid-item {
        width: 33.33%;
    }
}

.media-content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
}

.media-content-R {
    transform: rotate(90deg)
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
}

.media-content-L {
    transform: rotate(-90deg)
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
}

@media (min-width: 55em) /* 880px*/
	{
/*Nest CSS rules inside the media query brackets*/
		.banner { padding: 1.5em 3em 1.5em 3em; }
		.menu { padding: 1em 3em 1em 3em; }
		article { padding: 2em; }
        
@media (max-width: 30em) {
    article img {display: none;} 
    .gallery {display: none;}
}